.btn {
    background: linear-gradient(131.89deg, #10BBEB 34.45%, #00FFE0 125.88%);
    box-shadow: 0 4px 20px #126594;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    font-weight: 800;
    padding: 17px;
    color: $white;

    @media (min-width: 900px) {
        font-size: 2.2rem;
    }

    &:hover {
        background: linear-gradient(131.89deg, #5B5A99 0%, #5B5A99 100%);
        box-shadow: 0 2px 5px #126594;
        color: $blue-24;
    }

    &-secondary {
        background: linear-gradient(136.67deg, #FF7A00 8.34%, #FF00A8 95.26%);
        box-shadow: 0 4px 31px #B5002B;
        min-width: 210px;
        padding: 13px;

        &:hover {
            background: $black;
            box-shadow: 0 0 0 #B5002B;

            .gradient-text {
                background: linear-gradient(136.67deg, #FF7A00 8.34%, #FF00A8 95.26%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &-withdraw {
        border: 2px solid transparent;

        &:hover {
            background: $black;
            color: $blue-5f;
            border-color: $blue-5f;
            box-shadow: 0px 4px 20px #126594;
        }
    }
}

.refresh-btn {
    background: linear-gradient(131.89deg, #10BBEB 34.45%, #00FFE0 125.88%);
    border-radius: 6px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    flex-shrink: 0;

    &:hover {
        opacity: 0.6;

        img {
            transform: rotate(180deg);
        }
    }

    img {
        transition: transform 0.3s ease-in-out;
    }
}

.close-btn {
    box-shadow: 0px 51px 69px rgba(23, 18, 43, 0.585739);
    border-radius: 10px;
    color: $blue-77;
    min-width: 270px;
    font-weight: 800;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background: rgba(91, 90, 153, 0.4);

    &:hover {
        opacity: 0.6;
    }
}

.change-btn {
    content: url('../images/icons/icon-change.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);

    @media (min-width: 768px) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        opacity: 0.6;
    }
}