html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: $base-font-family;
	color: $white;
	font-size: 1.6rem;

	&.mobile-nav-active {
		overflow: hidden;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	transition: color .3s ease-in-out, opacity .3s ease-in-out;
	color: $blue;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: $white;
	}
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	color: #8a8987;

	&::placeholder {}

	&:focus {
		&::placeholder {}
	}
}

textarea {
	resize: vertical;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;

	&::placeholder {}

	&:focus {

		&::placeholder {}
	}
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

select {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #201D47;
	background-image: url('../images/pattern.svg');
	background-position: 50% 50%;
	background-size: cover;

	@media screen and (max-width: 1024px) {}

	@media screen and (max-width: 1500px) {}
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.main-title {

	@media screen and (min-width: 768px) {}

	@media screen and (min-width: 1024px) {}
}

.section-title {

	@media screen and (max-width: 768px) {}
}

//scroll
.scroll-wrap::-webkit-scrollbar {
	width: 3px;
	background-color: #ccc;
}

.scroll-wrap::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 2px;
}

.btn {
	background: linear-gradient(131.89deg, #10BBEB 34.45%, #00FFE0 125.88%);
	box-shadow: 0 4px 20px #126594;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 240px;
	font-weight: 800;
	padding: 17px;
	color: $white;
	transition: $base-transition;

	@media (min-width: 900px) {
		font-size: 2.2rem;
	}

	&:hover {
		background: linear-gradient(131.89deg, #5B5A99 0%, #5B5A99 100%);
		box-shadow: 0 2px 5px #126594;
		color: $blue-24;
	}

	&-secondary {
		background: linear-gradient(136.67deg, #FF7A00 8.34%, #FF00A8 95.26%);
		box-shadow: 0 4px 31px #B5002B;
		font-size: 1.6rem;
		min-width: 210px;
		padding: 13px;

		&:hover {
			background: #000;
			box-shadow: 0 0 0 #B5002B;

			.gradient-text {
				background: linear-gradient(136.67deg, #FF7A00 8.34%, #FF00A8 95.26%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}

.description {
	a {
		color: $green;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			opacity: 0.6;
		}
	}
}