html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	font-size: 8px;
}

body {
	font-family: $base-font-family;
	color: $white;
	font-size: 1.6rem;

	@media (min-width: 900px) {
		font-size: 1.8rem;
	}

	&.mobile-nav-active {
		overflow: hidden;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&.popup-active {
		overflow: hidden;
		height: 100%;
	}
}

img {
	max-width: 100%;
	height: auto;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	color: #8a8987;
}

textarea {
	resize: vertical;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all .2s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

select {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all .2s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #201D47;
	background-image: url('../images/pattern.svg');
	background-position: 50% 0;
	background-size: 100% auto;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

//scroll
.scroll-wrap::-webkit-scrollbar {
	width: 3px;
	background-color: rgba(0, 0, 0, 0.75);
}

.scroll-wrap::-webkit-scrollbar-thumb {
	background-color: $white;
	border-radius: 2px;
}

.border-gradient {
	position: relative;

	&::before {
		content: '';
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@keyframes load1 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes load2 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}