$breakpoints: ('xl': 1280px,
	'lg': 1024px,
	'md': 768px,
	'sm': 480px,
	'xs': 460px,
);

$base-font-family: 'JetBrains Mono';

$black: #000;
$white: #FFFFFF;
$blue-77: #7776D1;
$blue-5b: #5B5A99;
$blue-5f: #5FFFFF;
$blue-0a: #0AD5E7;
$blue-24: #241C46;
$blue-10: #100E1F;
$green: #50E3C2;
$orange: #F6851B;
$red: #FF0759;

$base-transition: all .2s ease-in-out;