extends ../layouts/default
block variables
	- var pageClass = 'deposit-active popup-active';

block head
	- var pageTitle = 'Saddle Fork';

block header
	include ../blocks/header/header--fail

block content
	main.main
		.container
			include ../blocks/tabs/tab-swap
			include ../blocks/tabs/tab-deposit
			include ../blocks/tabs/tab-withdraw
			include ../blocks/tabs/tab-risk
			.base-popup.history.active
				.base-popup__drop
					h2 Order History
					.history-table.scroll-wrap
						.thead
							.tr 
								.td Receive
								.td Pay
								.td Rate
								.td Status
						.tbody.scroll-wrap
							.tr 
								.td
									img(src="images/logo-3.png", alt="")
									strong 5,464.146 USDT
								.td  
									strong 5,464.146 DRC
								.td  
									strong 5,464.146 DRC
									span.info perDRC
								.td
									a(href="#")
										img(src="images/icons/icon-link.svg", alt="")
										strong Filled
							.tr 
								.td
									img(src="images/logo-3.png", alt="")
									strong 5,464.146 USDT
								.td  
									strong 5,464.146 DRC
								.td  
									strong 5,464.146 DRC
									span.info perDRC
								.td
									a(href="#")
										img(src="images/icons/icon-link.svg", alt="")
										strong Filled
							.tr 
								.td
									img(src="images/logo-3.png", alt="")
									strong 5,464.146 USDT
								.td  
									strong 5,464.146 DRC
								.td  
									strong 5,464.146 DRC
									span.info perDRC
								.td
									a(href="#")
										img(src="images/icons/icon-link.svg", alt="")
										strong Filled
							.tr 
								.td
									img(src="images/logo-3.png", alt="")
									strong 5,464.146 USDT
								.td  
									strong 5,464.146 DRC
								.td  
									strong 5,464.146 DRC
									span.info perDRC
								.td
									a(href="#")
										img(src="images/icons/icon-link.svg", alt="")
										strong Filled
							.tr 
								.td
									img(src="images/logo-3.png", alt="")
									strong 5,464.146 USDT
								.td  
									strong 5,464.146 DRC
								.td  
									strong 5,464.146 DRC
									span.info perDRC
								.td
									a(href="#")
										img(src="images/icons/icon-link.svg", alt="")
										strong Filled
							.tr 
								.td
									img(src="images/logo-3.png", alt="")
									strong 5,464.146 USDT
								.td  
									strong 5,464.146 DRC
								.td  
									strong 5,464.146 DRC
									span.info perDRC
								.td
									a(href="#")
										img(src="images/icons/icon-link.svg", alt="")
										strong Filled
							.tr 
								.td
									img(src="images/logo-3.png", alt="")
									strong 5,464.146 USDT
								.td  
									strong 5,464.146 DRC
								.td  
									strong 5,464.146 DRC
									span.info perDRC
								.td
									a(href="#")
										img(src="images/icons/icon-link.svg", alt="")
										strong Filled
							
					a(href="#").js-close 
						img(src="images/icons/icon-close.svg", alt="")
					