.tab.js-tab
    .deposit
        .deposit__wrap 
            .deposit__img 
                img(src="images/withdraw-2.png", alt="")
            p.deposit__title You don’t have any funds to withdraw.
            p.deposit__text Deposit first to get started!
            button(type="button").btn.btn-primary Deposit
    .deposit
        .deposit__wrap 
            .deposit__img 
                img(src="images/withdraw-1.png", alt="")
            p.deposit__title Choose to withdraw:
            button(type="button").btn.btn-secondary Withdraw 