.tab {
    &-risk {
        padding-top: 30px;

        @media (min-width: 900px) {
            padding-top: 80px;
            max-width: 1024px;
        }
    }
}

.intro-section {
    margin-bottom: 20px;
    position: relative;

    @media (min-width: 768px) {
        display: flex;
        margin: 0 -15px 20px;
    }

    @media (min-width: 1200px) {
        margin: 0 -30px 30px;
    }

    &__col {
        margin-bottom: 40px;

        @media (min-width: 768px) {
            margin-bottom: 0;
            width: 50%;
            padding: 0 30px;
        }
    }
}

.card {
    background: linear-gradient(241.25deg, rgba(41, 39, 85, 0.35) 4.4%, rgba(41, 39, 84, 0.78) 61.77%, rgba(27, 24, 66, 0.35) 119.94%);
    box-shadow: 0px 51px 69px rgba(23, 18, 43, 0.585739);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgba(81, 75, 174, 0.6);
    font-size: 1.8rem;

    @media (min-width: 900px) {
        padding: 15px 20px;
    }

    &__bonus {
        font-size: 2.2rem;
        color: $green;
        background: linear-gradient(180deg, #312961 0%, rgba(64, 61, 111, 0) 81.05%);
        border-radius: 10px;
        margin: 0 -15px -15px;
        padding: 15px;

        @media (min-width: 900px) {
            margin: 0 -20px -20px;
            padding: 25px;
        }

        strong {
            margin-left: 20px;
        }
    }
}

.advanced-options {
    min-height: 600px;

    &.active {
        .advanced-options__drop {
            max-height: 600px;
        }

        .advanced-options__opener {
            &::after {
                transform: translateY(-40%) rotate(180deg);
            }
        }
    }

    &.finished {
        .advanced-options__drop {
            overflow: visible;
        }
    }

    &__head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid $blue-5b;

        &-wrap {
            width: 100%;
            display: flex;
            align-items: center;

            @media (min-width: 600px) {
                width: auto;
            }
        }
    }

    &__title {
        margin-right: auto;
        font-size: 2.2rem;
    }

    &__value {
        font-size: 2.2rem;
    }

    &__opener {
        font-weight: 800;
        color: $white;
        margin: 15px auto;
        background: rgba(91, 90, 153, 0.2);
        border-radius: 6px;
        padding: 8px 50px 8px 10px;
        position: relative;

        @media (min-width: 600px) {
            margin: 0;
        }

        &:hover {
            opacity: 0.6;
        }

        &:after {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-40%);
            content: url('../images/icons/icon-triangle.svg');
            transform-origin: 50% 40%;
            transition: transform 0.3s ease-in-out;
        }
    }

    &__drop {
        overflow: hidden;
        max-height: 0;
        box-shadow: 0px 51px 69px rgba(23, 18, 43, 0.585739);
        transition: max-height 0.3s ease-in-out;
    }

    &__drop-wrap {
        background: linear-gradient(238.62deg, rgba(41, 39, 85, 0.35) 4.23%, rgba(41, 39, 84, 0.78) 59.41%, rgba(27, 24, 66, 0.35) 115.37%);
        border-radius: 10px;
        border: 1px solid rgba(81, 75, 174, 0.6);
        padding: 15px;

        @media (min-width: 900px) {
            padding: 30px;
        }
    }

    &__btn-holder {
        margin-top: 30px;
        text-align: center;
    }
}

.info-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2.2rem;
    padding: 15px;

    @media (min-width: 900px) {
        padding: 25px 30px 15px;
    }
}

.deposit {
    margin: 0 auto;
    padding-bottom: 50px;

    @media (min-width: 600px) {
        max-width: 420px;
        margin-bottom: 100px;
    }

    &.active {
        .deposit__wrap {
            display: none;
        }

        .deposit__drop {
            display: flex;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;

        @media (min-width: 900px) {
            padding-top: 70px;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 2.2rem;
        line-height: 1.2;
        color: $white;
        text-align: center;
    }

    &__drop {
        display: none;
        flex-direction: column;
        align-items: center;
    }
}