header.header.js-mobile-nav
    .container 
        a(href="#").header__logo
            img(src="images/logo.svg", alt="Main logo")
        .burger.js-burger-opener
            span
            span
            span
        .nav-holder
            nav.nav
                ul.nav__list.js-tab-nav
                    li
                        a(href="#").js-tab-link Swap
                    li
                        a(href="#").js-tab-link Deposit
                    li
                        a(href="#").js-tab-link Withdraw
                    li
                        a(href="#").js-tab-link Risk
            a.btn.btn-secondary Connect Wallet
    


        