header.header.js-mobile-nav
    .container 
        a(href="#").header__logo
            img(src="images/logo.svg", alt="Main logo")
        .burger.js-burger-opener
            span
            span
            span
        .nav-holder
            nav.nav
                ul.nav__list.js-tab-nav
                    li
                        a(href="#").js-tab-link Swap
                    li
                        a(href="#").js-tab-link Deposit
                    li
                        a(href="#").js-tab-link Withdraw
                    li
                        a(href="#").js-tab-link Risk
            .base-popup.js-open-close
                a.btn.btn-secondary.js-opener
                    span.gradient-text Connect Wallet
                .base-popup__drop
                    h2 Connect Wallet
                    ul.contacts-list 
                        li
                            a(href="#")
                                span MetaMask
                                img(src="images/logo-1.png", alt="")
                        li
                            a(href="#")
                                span Wallet Connect
                                img(src="images/logo-2.png", alt="")
                        li
                            a(href="#")
                                span Coinbase Wallet
                                img(src="images/logo-3.png", alt="")
                    p.description Don’t have a wallet? <a href="#">Get a wallet!</a>
                    a(href="#").js-close 
                        img(src="images/icons/icon-close.svg", alt="") 
            .operation-info
                span.operation-info__value 4.3331 ETH
                .operation-info__status.success
                    span Success
                    .operation-info__icon
                        img(src="images/icons/icon-check-white.svg", alt="")
                    
