.header {
    position: relative;
    padding: 15px 0;

    @media (min-width: 900px) {
        padding: 30px 0;
    }

    &__logo {
        img {
            width: 140px;
        }
    }

    .container {
        @media (min-width: 900px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.nav-holder {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 80px 15px;
    text-align: center;

    @media (min-width: 900px) {
        position: static;
        width: auto;
        height: auto;
        opacity: 1;
        background-color: transparent;
        display: flex;
        align-items: center;
        text-align-last: left;
        padding: 0;
    }

    .mobile-nav-active & {
        left: 0;
        opacity: 1;
    }
}

.nav {
    &__list {
        margin-bottom: 15px;

        @media (min-width: 900px) {
            display: flex;
            margin-bottom: 0;
        }

        @media (min-width: 1200px) {
            margin-right: 80px;
        }

        li {
            @media (min-width: 900px) {
                margin-bottom: 0;
                margin-right: 20px;
            }

            @media (min-width: 1200px) {
                margin-right: 60px;
            }
        }

        a {
            display: block;
            padding: 15px;

            &.active {
                color: $white;
            }
        }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-left: auto;
    top: 33%;
    right: 15px;

    @media (min-width: 900px) {
        display: none;
    }

    .mobile-nav-active & {
        span {
            &:nth-child(1) {
                top: 8px;
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: translateX(2000px);
            }

            &:nth-child(3) {
                bottom: 8px;
                transform: rotate(-45deg);
            }
        }
    }

    span {
        width: 24px;
        height: 3px;
        border-radius: 100px;
        position: relative;
        transition: $base-transition;
        background-color: $white;

        &:nth-child(1) {
            margin-bottom: 5px;
        }

        &:nth-child(3) {
            margin-top: 5px;
        }
    }
}

.connect-holder {
    &.active {
        .connect-holder__drop {
            opacity: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__drop {
        width: calc(100% - 30px);
        max-width: 600px;
        position: fixed;
        top: -9999px;
        left: -9999px;
        opacity: 0;
        background: $blue-10;
        padding: 30px 15px;
        box-shadow: 0px 51px 69px rgba(23, 18, 43, 0.6);
        border-radius: 10px;
        transition: opacity 0.3s ease-in-out;
        border: 1px solid rgba(81, 75, 174, 0.8);

        @media (min-width: 900px) {
            padding: 30px;
        }
    }

    h2 {
        margin-bottom: 30px;

        @media (min-width: 900px) {
            margin-bottom: 50px;
        }
    }

    &__list {
        li {
            margin-bottom: 20px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(91, 90, 153, 0.4);
            padding: 5px 10px 5px 20px;
            border-radius: 10px;
            min-height: 58px;
            transition: $base-transition;
            border: 2px solid transparent;

            &:hover {
                color: $green;
                border: 2px solid $green;
                font-weight: 800;
                background-color: transparent;
            }
        }

        img {
            max-height: 44px;
        }
    }

    .js-close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;

        @media (min-width: 900px) {
            width: 26px;
            height: 26px;
            top: 22px;
            right: 22px;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}