.header {
    position: relative;
    padding: 15px 0;

    @media (min-width: 900px) {
        padding: 30px 0;
    }

    &__logo {
        img {
            width: 140px;
        }
    }

    .container {
        @media (min-width: 900px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.nav-holder {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity .2s ease-in-out, left .2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 80px 15px;
    text-align: center;

    @media (min-width: 900px) {
        position: static;
        width: auto;
        height: auto;
        opacity: 1;
        background-color: transparent;
        display: flex;
        align-items: center;
        text-align-last: left;
        padding: 0;
    }

    .mobile-nav-active & {
        left: 0;
        opacity: 1;
    }
}

.nav {
    &__list {
        margin-bottom: 15px;

        @media (min-width: 900px) {
            display: flex;
            margin-bottom: 0;
        }

        @media (min-width: 1200px) {
            margin-right: 80px;
        }

        li {
            @media (min-width: 900px) {
                margin-bottom: 0;
                margin-right: 20px;
            }

            @media (min-width: 1200px) {
                margin-right: 60px;
            }
        }

        a {
            display: block;
            padding: 15px;

            &:hover,
            &.active,
            &:focus {
                color: $white;
            }
        }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-left: auto;
    top: 33%;
    right: 15px;

    @media (min-width: 900px) {
        display: none;
    }

    .mobile-nav-active & {
        span {
            &:nth-child(1) {
                top: 8px;
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: translateX(2000px);
            }

            &:nth-child(3) {
                bottom: 8px;
                transform: rotate(-45deg);
            }
        }
    }

    span {
        width: 24px;
        height: 3px;
        border-radius: 100px;
        position: relative;
        transition: $base-transition;
        background-color: $white;

        &:nth-child(1) {
            margin-bottom: 5px;
        }

        &:nth-child(3) {
            margin-top: 5px;
        }
    }
}